$brand-purple: #221236;
$brand-gold: #feb82c;
$brand-grey: #1c1c1c;

@mixin wrapper {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    @media (min-width: 1200px) {
        max-width: 1200px;
  }
}

@mixin hide-sm {
    @media (max-width: 767px) {
        display: none;
    }
}

@mixin hide-lg {
    @media (min-width: 768px) {
        display: none;
    }
}

@mixin flex-center($direction) {
    flex-flow: $direction nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}