@import '../style/common.scss';

.carousel {
    width: 100%;
    .wrap {
        @include wrapper;
        min-height: 150px;
        justify-content: center;
        align-items: center;
        
    }
    
}

