@import 'normalize.css';
@import 'style/common.scss';
@import 'style/globals.scss';

.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: $brand-grey;
    min-height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
    background-color: $brand-purple;
    width: 100%;
}