@import '../style/common.scss';

.base {
    width: 100%;
    background-color: $brand-purple;
}

.wrap {
    @include wrapper;
    @include flex-center(column);
    margin: 1vh auto;
}

.copyright {
    font-size: 12px;
    color: white;
    margin: 1vh auto;
    text-transform: uppercase;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1vh auto;

    a {
        margin: 0 15px;
        color: rgba(255,255,255,.8)
    }

    .icon {
        transition: all .2s ease-out;
        padding-bottom: 2px;
    }
    .icon:hover {
        color: $brand-gold;
    }

    svg {
        transition: all .2s ease-out;
        fill: rgba(255,255,255,.8);
        height: 36px;
    }

    svg:hover {
        fill: $brand-gold;
    }
     
}